-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: e_inventory
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `csm_inventory`
--

DROP TABLE IF EXISTS `csm_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `csm_inventory` (
  `inventory_id` int(11) NOT NULL AUTO_INCREMENT,
  `inventory_system_item_code` varchar(100) NOT NULL,
  `item_description` text DEFAULT NULL,
  `acquisition_date` date NOT NULL,
  `cost_value` decimal(12,2) NOT NULL DEFAULT 0.00,
  `unit` varchar(50) NOT NULL DEFAULT 'pcs',
  `source_of_funds` varchar(150) DEFAULT NULL,
  `item_category_code` varchar(50) NOT NULL,
  `status` tinyint(1) DEFAULT NULL,
  `allowed_employment_status` text DEFAULT NULL,
  `quantity` int(11) NOT NULL COMMENT 'Actual quantity received',
  `current_quantity` int(11) NOT NULL COMMENT 'For quantity to be issued',
  `qty_crit_level` int(11) NOT NULL COMMENT 'Critical stock threshold',
  `last_updated` date NOT NULL,
  `item_category_img` varchar(255) DEFAULT NULL,
  `qr_verification` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `category_image_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  UNIQUE KEY `inventory_system_item_code` (`inventory_system_item_code`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `csm_inventory`
--

LOCK TABLES `csm_inventory` WRITE;
/*!40000 ALTER TABLE `csm_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `csm_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `csm_inventory_category`
--

DROP TABLE IF EXISTS `csm_inventory_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `csm_inventory_category` (
  `category_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_category_name` varchar(150) NOT NULL,
  `category_image` varchar(255) DEFAULT NULL,
  `item_category_code` varchar(50) NOT NULL,
  `category_photo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `item_category_code` (`item_category_code`),
  UNIQUE KEY `uniq_item_category_code` (`item_category_code`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `csm_inventory_category`
--

LOCK TABLES `csm_inventory_category` WRITE;
/*!40000 ALTER TABLE `csm_inventory_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `csm_inventory_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `csm_inventory_category_images`
--

DROP TABLE IF EXISTS `csm_inventory_category_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `csm_inventory_category_images` (
  `image_id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_url` varchar(500) NOT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`image_id`),
  KEY `idx_category_id` (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `csm_inventory_category_images`
--

LOCK TABLES `csm_inventory_category_images` WRITE;
/*!40000 ALTER TABLE `csm_inventory_category_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `csm_inventory_category_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `csm_audit_sessions`
--

DROP TABLE IF EXISTS `csm_audit_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `csm_audit_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `series_code` varchar(50) NOT NULL,
  `audit_name` varchar(255) DEFAULT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('Pending','Active','Closed') NOT NULL DEFAULT 'Pending',
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_series_code` (`series_code`),
  KEY `idx_audit_status` (`status`),
  KEY `idx_audit_created_by` (`created_by`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `csm_audit_sessions`
--

LOCK TABLES `csm_audit_sessions` WRITE;
/*!40000 ALTER TABLE `csm_audit_sessions` DISABLE KEYS */;
INSERT INTO `csm_audit_sessions` VALUES (1,'CSM-PC-2026-001','march test 2026','2026-03-12','2026-03-14','Active',1,'2026-03-12 02:14:48');
/*!40000 ALTER TABLE `csm_audit_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `csm_audit_checks`
--

DROP TABLE IF EXISTS `csm_audit_checks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `csm_audit_checks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` int(11) NOT NULL,
  `inventory_id` int(11) NOT NULL,
  `inventory_system_item_code` varchar(100) NOT NULL,
  `item_category_code` varchar(50) NOT NULL,
  `item_description` text DEFAULT NULL,
  `acquisition_date` date DEFAULT NULL,
  `item_cost` decimal(12,2) DEFAULT NULL,
  `source_of_funds` varchar(150) DEFAULT NULL,
  `system_unit_quantity` int(11) NOT NULL DEFAULT 0,
  `system_current_quantity` int(11) NOT NULL DEFAULT 0,
  `counted_quantity` int(11) NOT NULL DEFAULT 0,
  `variance_quantity` int(11) NOT NULL DEFAULT 0,
  `unit_crit_level` int(11) NOT NULL DEFAULT 0,
  `system_status` tinyint(1) DEFAULT NULL,
  `status_at_check` varchar(100) NOT NULL DEFAULT '',
  `condition` varchar(50) NOT NULL DEFAULT '',
  `storage_location` varchar(150) NOT NULL DEFAULT '',
  `remarks` text DEFAULT NULL,
  `checked_by` int(11) NOT NULL,
  `checked_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_session_item` (`session_id`,`inventory_system_item_code`),
  KEY `idx_audit_session` (`session_id`),
  KEY `idx_audit_inventory` (`inventory_id`),
  KEY `idx_audit_checked_by` (`checked_by`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `csm_audit_checks`
--

LOCK TABLES `csm_audit_checks` WRITE;
/*!40000 ALTER TABLE `csm_audit_checks` DISABLE KEYS */;
INSERT INTO `csm_audit_checks` VALUES (1,1,7,'CSM-0001-0001','CSM0001','Bulk test','2026-02-27',25.50,'General Fund',59,40,40,0,60,2,'Unavailable','Good','test storage','good lah',1,'2026-03-12 10:15:32'),(2,1,6,'CSM-0002-0001','CSM0002','test','2026-02-27',22.00,'test',0,0,10,10,2,3,'Unavailable','Good','test','',1,'2026-03-12 13:24:48'),(3,1,8,'CSM-0001-0003','CSM0001','Example itemized description (full details/specs/notes)','2026-02-27',25.50,'test',111,22,18,-4,10,1,'Available','Missing','','',1,'2026-03-12 13:26:28');
/*!40000 ALTER TABLE `csm_audit_checks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11  8:47:54
